{
  "android": {
    "keystore": {
      "keystorePath": "credentials/android/release.keystore",
      "keystorePassword": "YOUR_ANDROID_KEYSTORE_PASSWORD",
      "keyAlias": "YOUR_ANDROID_KEY_ALIAS",
      "keyPassword": "YOUR_ANDROID_KEY_PASSWORD"
    }
  },
  "ios": {
    "provisioningProfilePath": "credentials/ios/profile.mobileprovision",
    "distributionCertificate": {
      "path": "credentials/ios/dist-cert.p12",
      "password": "YOUR_IOS_P12_PASSWORD"
    }
  }
}
